<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>customers</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      placeholder="Search"
      animated
      (ionChange)="searchCustomer($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="permission">
    <ion-list-header> Recent conversations </ion-list-header>

    <ion-item *ngFor="let user of searchedUser">
      <ion-avatar slot="start">
        <img src="../../assets/customers-img/{{user.image}}" alt="" />
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{user.name}}</h2>

        <p>{{user.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-label *ngIf="!permission"
    >You don't have access to see the customers</ion-label
  >
</ion-content>
